.intro {
  display: flex;
  justify-content: space-between;
}

.homeVideo {
  width: 100%;
  height: 30%;
  position: relative;
}

.homeTitle {
  display: flex;
  align-items: center;
  text-align: center;

  color: white;
  text-shadow: 5px 2px 3px rgb(0, 0, 0);
  font-size: 2.5vh;
  border-radius: 10px;
  position: absolute;
  max-width: 30vw;
  margin: 15vh;
}

.intro2 {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.intro2_descr {
  width: 44%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(222, 236, 248);

  border-radius: 10px;
}

.intro2_descr h2 {
  display: flex;
  font-size: 5vh;
  text-align: center;
  align-items: center;
  height: 30vh;
}

.intro2_descr p {
  display: flex;
  text-align: center;
  align-items: center;
  height: 40vh;
  font-size: 3vh;
  line-height: 5vh;
  padding: 0 2vh;
}

.intro3 {
  margin-bottom: 5rem;
}
.intro3_title {
  margin: 10vh 0;
  padding: 0 5vh;
  font-size: 20px;
}

.intro3_cards {
  display: flex;
  justify-content: space-around;
}
.junior {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  background-color: aliceblue;
}

.junior img:hover {
  display: none;
}

.subjects {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(#f3ff52, #67fd49, #31c8ff, #ff35c2);
  opacity: 0;
}

.subjects:hover {
  display: block;
  opacity: 1;
  transition: 0.5s ease;
}
.subjects_back {
  padding-top: 10vh;
  line-height: 5vh;
}

.intro3_cards__descr h3 {
  text-align: center;
}

.middle {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  background-color: aliceblue;
}
.middle img:hover {
  display: none;
}

.senior {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  background-color: aliceblue;
}
.senior img:hover {
  display: none;
}

.intro4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 35, 200, 0.4);
  border-radius: 5px;
  color: white;
  height: 30vh;
  align-items: center;
  margin: 10px;
}

.prefooter_descr {
  display: flex;
  flex-wrap: wrap;
  max-width: 20vw;
  margin: 0 3vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.prefooter_descr h4 {
  margin-bottom: 10px;
  font-size: 3vh;
}

.intro5 {
  margin: 12vh 0.7vw;
  max-height: 60vh;
}
.intro5_pre {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  padding: 0 5vh;
}
.intro5_pre h3 {
  font-size: 23px;
}

.intro5_cards {
  display: flex;
  max-height: 50vh;
  justify-content: space-around;
}

.intro5_cards__first {
  display: flex;
  background-image: url(https://thumbs.dreamstime.com/b/little-cute-kid-boy-years-old-wearing-yellow-clothes-isolated-bright-orange-wall-background-children-studio-portrait-people-140443257.jpg);
  justify-content: center;
  flex-direction: column;
  min-width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.intro5_cards__first_des {
  max-width: 30vw;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 3vw;
  color: white;
}
.intro5_cards__first_des h2 {
  margin-bottom: 5vh;
}

.intro5_cards__second {
  min-height: 50vh;
}
.intro5_cards__second1 {
  background-image: url(https://goodman.ru/upload/resize_cache/iblock/faf/460_373_2/kids_mk.jpg);
  height: 50vh;
  width: 47vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: beige;
  text-align: right;
}
.intro5_cards__second2 {
  height: 50vh;
  text-align: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: beige;
  background-image: url(https://diesel.elcat.kg/uploads/monthly_08_2015/blogentry-197788-1439526859.jpg);
}

.finalHome {
  width: 100%;
  height: 39vh;
}

@media screen and (max-width: 1566px) {
  .intro2_descr h2 {
    display: flex;
    font-size: 4vh;
    text-align: center;
    align-items: center;
    height: 30vh;
  }

  .intro2_descr p {
    display: flex;
    text-align: center;
    align-items: center;
    height: 40vh;
    font-size: 2.1vh;
    line-height: 5vh;
    padding: 0 2vh;
  }
}

@media screen and (max-width: 1566px) {
  .intro2_descr h2 {
    display: flex;
    font-size: 3vh;
    text-align: center;
    align-items: center;
    height: 4vh;
    padding-top: 150px;
  }

  .intro2_descr p {
    display: flex;
    text-align: center;
    align-items: center;
    height: 30vh;
    font-size: 2.5vh;
    line-height: 4vh;
    padding: 0 2vh;
  }

  .prefooter_descr h4 {
    margin-bottom: 10px;
    font-size: 3vh;
  }

  .prefooter_descr p {
    margin-bottom: 10px;
    font-size: 2vh;
  }
  .subjects_back h3,
  p {
    font-size: 20px;
    line-height: 35px;

    padding: 0;
  }
  .subjects_back {
    padding-top: 5vh;
  }
}

/* @media screen and (max-width: 1542px) {
  .intro2_descr p {
    display: flex;
    text-align: center;
    align-items: center;
    height: 30vh;
    font-size: 25px;
    line-height: 3vh;
    padding: 0 2vh;
  }
  .intro2_descr h2 {
    display: flex;
    font-size: 30px;
    text-align: center;
    align-items: center;
    height: 4vh;
    padding-top: 80px;
  }
} */
@media screen and (max-width: 1406px) {
  .prefooter_descr h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .prefooter_descr p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1194px) {
  .intro2_descr p {
    display: flex;
    text-align: center;
    align-items: center;
    height: 30vh;
    font-size: 20px;
    line-height: 3vh;
    padding: 0 2vh;
  }
  .intro2_descr h2 {
    display: flex;
    font-size: 23px;
    text-align: center;
    align-items: center;
    height: 4vh;
    padding-top: 80px;
  }
}

@media screen and (max-width: 1322px) {
  .homeTitle {
    font-size: 15px;
  }
  .subjects_back h3,
  p {
    font-size: 20px;
    line-height: 30px;

    padding: 0;
  }
  .subjects_back {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 1126px) {
  .homeTitle {
    font-size: 12px;
  }

  .intro2_descr p {
    display: flex;
    text-align: center;
    align-items: center;
    height: 30vh;
    font-size: 1.2vh;
    line-height: 3vh;
    padding: 0 2vh;
  }
  .subjects_back h3,
  p {
    font-size: 20px;
    line-height: 25px;

    padding: 0;
  }
  .subjects_back {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 974px) {
  .homeTitle {
    font-size: 12px;
  }

  .intro2_descr h2 {
    display: flex;
    font-size: 15px;
    text-align: center;
    align-items: center;
    height: 4vh;
    padding-top: 80px;
  }
  .intro2_descr p {
    display: flex;
    text-align: center;
    align-items: center;
    height: 30vh;
    font-size: 0.9vh;
    line-height: 3vh;
    padding: 0 2vh;
  }

  .intro5_cards__second1 {
    height: 350px;
  }
  .intro5_cards__second2 {
    height: 350px;
  }

  .intro5 {
    height: 150px;
  }
  .intro5_cards__first_des h2 {
    height: 150px;
  }

  .intro5_cards__first {
    height: 700px;
  }
  .subjects_back h3,
  p {
    font-size: 20px;
    line-height: 20px;

    padding: 0;
  }
  .subjects_back {
    padding-top: 3vh;
    line-height: 4vh;
  }
}

@media screen and (max-width: 958px) {
  .prefooter_descr h4 {
    margin-bottom: 10px;
    font-size: 17px;
  }
  .prefooter_descr p {
    font-size: 13px;
  }
  .subjects_back h3,
  p {
    font-size: 20px;
    line-height: 20px;

    padding: 0;
  }
  .subjects_back {
    padding-top: 3vh;
    line-height: 4vh;
  }
}

@media screen and (max-width: 794px) {
  .intro4 {
    height: 130px;
  }
  .prefooter_descr h4 {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .prefooter_descr p {
    font-size: 10px;
  }
  .homeTitle {
    font-size: 8px;
    max-width: 30vw;
    margin: 7vh;
  }

  .intro2_descr h2 {
    display: flex;
    font-size: 10px;
    text-align: center;
    align-items: center;
    height: 2vh;
    padding-top: 50px;
  }
  .intro2_descr p {
    display: flex;
    text-align: center;
    align-items: center;
    height: 20vh;
    font-size: 0.9vh;
    line-height: 1.2vh;
    padding: 0 2vh;
  }
  .subjects_back h3,
  p {
    font-size: 15px;
    line-height: 15px;

    padding: 0;
  }
  .subjects_back {
    padding-top: 3vh;
    line-height: 3vh;
  }
}

@media screen and (max-width: 634px) {
  .intro4 {
    height: 130px;
  }
  .prefooter_descr h4 {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .prefooter_descr p {
    font-size: 10px;
  }
  .homeTitle {
    font-size: 8px;
    max-width: 30vw;
    margin: 7vh;
  }

  .intro2_descr h2 {
    display: none;
  }
  .intro2_descr p {
    display: flex;
    text-align: center;
    align-items: center;
    height: 20vh;
    font-size: 7px;
    line-height: 1.2vh;
    padding: 0 2vh;
    margin-top: 40px;
  }
  .intro5_cards__second1 {
    height: 200px;
  }
  .intro5_cards__second2 {
    height: 200px;
  }

  .intro5 {
    height: 35px;
    margin: 0 0 130px 0;
  }
  .intro5_cards__first_des h2 {
    height: 150px;
  }

  .intro5_cards__first {
    height: 400px;
  }
  .finalHome {
    height: 250px;
  }

  .intro3_title {
    margin: 0 0 8px 0;
    font-size: 15px;
  }
  .intro3_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .intro5_pre {
    margin: 0;
  }
  .intro5_pre h3 {
    font-size: 15px;
  }
  .subjects_back h3,
  p {
    font-size: 15px;
    line-height: 15px;

    padding: 0;
  }
  .subjects_back {
    padding-top: 2vh;
    line-height: 3vh;
  }
}

@media screen and (max-width: 546px) {
  .intro2_slide {
    display: none;
  }
  .intro4 {
    display: none;
  }
  .prefooter_descr h4 {
    display: none;
  }
  .subjects_back h3,
  p {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .intro2_slide {
    display: none;
  }
  .prefooter_descr h4 {
    display: none;
  }
  .intro3_cards__descr h3 {
    display: none;
  }
  .homeTitle {
    font-size: 5px;
    max-width: 30vw;
    margin: 1vh;
  }
  .intro5_cards__first_des h2 {
    font-size: 13px;
  }
  .intro5_cards__first_des p {
    display: none;
  }
  .intro5_pre a {
    display: none;
  }
  .subjects_back h3,
  p {
    display: none;
  }
}
